<!DOCTYPE html>
<html Lang="es">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" href="/assets/images/icon" type="">
		<title>CaliferBot Commands</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Un bot de discord multifuncional con comandos personalizados">
		<meta name="author" content="Turbinal">
		<meta name="keywords" content="discord-bot, califerbot, califer, discordapi, bot, califerbotwebsite">
		<link rel="stylesheet" href="/assets/styles/commands.css">
	</head>

	<body>
		<a href="/"><img class="avatar" src="https://images-ext-2.discordapp.net/external/S5IhP83SZVgyPcqrKg22ArvVccqv3mHjxkMOPMBLq8A/%3Fwidth%3D430%26height%3D430/https/media.discordapp.net/attachments/814949340962881606/890866214283407360/IMG_20210924_021941.jpg" alt="Bot Avatar" ></a>
		<section class="main-content">
			<p>Para ver los comandos en discord, usa <code>c!cmd</code> para ver los comandos!</p>

			<% commands.forEach(({ value, name }) => { %>
				<table style="width: 100%">
					<h1 style="text-align: center;">
						<%= name %>
					<h1>
					<tr>
						<th>Nombre del comando</th>
						<th>Uso</th>
						<th>Descripción</th>
						<th>Alias</th>
					</tr>

					<% value.forEach(({ name, description, aliases, usage }) => {%>
						<tr>
							<td><%= name %></td>
							<td><%= usage %></td>
							<td><%= description %></td>
							<td><%= typeof aliases === 'string' ? aliases : aliases.join(', ') %></td>
						</tr>
					<% })%>
				</table>
			<% }) %>
		</section>
	</body>
    <footer>
			<hr></hr>
			<h4 class="copyright">Copyright © 2020 - 2022<h4>
    </footer>
</html>